@font-face {
    font-family: Myriad Pro;
    src: url('../fonts/MyriadProRegular.eot'),
         url('../fonts/MyriadProRegular.ttf') format('truetype'),
         url('../fonts/MyriadProRegular.woff') format('woff');
}

body {
    font-family: "Myriad Pro", Arial, sans-serif;
    color: rgb(68, 68, 68);
}

.grey-text {
    color: rgb(170, 170, 170);
}

.page-heading,
.image-wrapper {
    margin: 0;
    font-weight: normal;
}

.cv-wrapper {
    background-color: rgb(238, 238, 238);
    padding: 72px 0 95px 0;
}

.cv_style_default {
    width: 800px;
    margin: 0 auto;
    padding: 50px;
    box-sizing: border-box;
    box-shadow: 0 0 40px -10px rgba(0,0,0,0.75), inset 0 5px 40px -20px rgba(0,0,0,0.75);
    background-color: rgb(255, 255, 255);
}

.personal-information {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.personal-information_style_default {
    box-shadow: 0 5px 5px -6px rgba(0,0,0,0.75);
}

.name_style-default {
    font-size: 37px;
    line-height: 34px;
    letter-spacing: -0.2px;
}

.position_style_default {
    font-size: 26px;
    line-height: 38px;
    letter-spacing: -0.1px;
}

.name-contact-details__summary {
    width: 426px;
    margin: 18px 0 20px 0;
}

.summary_style_default {
    font-size: 15px;
    line-height: 22px;
}

.name-contact-details__contacts {
    padding: 0;
    margin-bottom: 62px;
}

.contacts_style_default {
    list-style: none;
    line-height: 22px;
    letter-spacing: -0.5px;
}

.contacts__link {
    text-decoration: none;
}

.photo_style_default {
    line-height: 0;
    border: solid rgb(238, 238, 238);
    border-width: 6px 5px;
    border-radius: 4px;
    box-shadow: 0 0 8px -4px rgba(0,0,0,0.75);
}

.photo__image {
    width: 100%;
}

.cv__work-experience {
    margin-top: 42px;
}

.work-experience_style_default {
    color: rgb(136, 136, 136);
}

.work-experience__experience-heading {
    margin-bottom: 30px;
}

.work-experience__company-experience {
    margin-bottom: 28px;
}

.experience-heading_style_default {
    font-size: 27px;
    letter-spacing: -0.8px;
}

.company-experience__job-title_style_default {
    font-size: 21px;
    letter-spacing: -0.6px;
    color: rgb(11, 139, 187);
}

.company-experience__company-name {
    margin-bottom: 17px;
}

.company-experience__company-name_style_default {
    font-size: 21px;
    letter-spacing: -0.4px;
}

.company-experience__description_style_default {
    width: 580px;
    font-size: 14px;
    line-height: 22px;
}