@font-face {
    font-family: Myriad Pro;
    src: url('../fonts/MyriadProRegular.eot'),
         url('../fonts/MyriadProRegular.ttf') format('truetype'),
         url('../fonts/MyriadProRegular.woff') format('woff');
}

body {
    font-family: "Myriad Pro", Arial, sans-serif;
    color: rgb(68, 68, 68);
}

.grey-text {
    color: rgb(170, 170, 170);
}

.cv-wrapper {
    background-color: rgb(238, 238, 238);
    padding-top: 72px;
}

.cv_style_default {
    width: 800px;
    margin: 0 auto;
    padding: 50px;
    box-sizing: border-box;
    box-shadow: 0 0 40px -10px rgba(0,0,0,0.75), inset 0 5px 40px -20px rgba(0,0,0,0.75);
    background-color: rgb(255, 255, 255);
}

.personal-information {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.personal-information_style_default {
    box-shadow: 0 5px 5px -6px rgba(0,0,0,0.75);
}

.name-contact-details__name {
    margin: 0;
    font-size: 37px;
    line-height: 34px;
    font-weight: normal;
}

.name-contact-details__position {
    font-size: 26px;
    margin: 0;
    font-weight: normal;
    line-height: 38px;
    letter-spacing: -0.1px;
}

.name-contact-details__summary {
    width: 426px;
    margin: 18px 0 20px 0;
    font-size: 15px;
    line-height: 22px;
}

.name-contact-details__contacts {
    padding: 0;
    margin-bottom: 62px;
    list-style: none;
    line-height: 22px;
    letter-spacing: -0.5px;
}

.contacts__link {
    text-decoration: none;
}

.personal-information__photo {
    margin: 0;
}

.photo_style_default {
    line-height: 0;
    border: solid rgb(238, 238, 238);
    border-width: 6px 5px;
    border-radius: 4px;
    box-shadow: 0 0 8px -4px rgba(0,0,0,0.75);
}

.photo__image {
    width: 100%;
}